body {
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 400px;
    width: 100%;
    overflow: hidden;
    margin: 0px auto;
    padding:  10% 5% 5%;
    display: flex; /* or inline-flex */
    flex-direction: row;
    justify-content: space-evenly;
}

.weeds {
    background-color: green;
    border-radius: 100px 100px 100px 100px;
    height: 80%;
    width: 20px;
    transition:all 0.4s!important;
    align-self: flex-end; 
}

.holes {
    height: 100%;
    width: 20px;
    padding: 0px auto;
    align-self: flex-end; 
}


.score {
    font-size: 1rem;
    position: static;
    right: 5%;
    z-index: 2;
}

@keyframes  grow-top {
    from {height:0%;}
    to {height:100%;}
}